@charset "UTF-8";
* {
    /* RESET CSS */
    margin: 0px;
    padding: 0px;
  }
@font-face{
    font-family: "sriracha";
    src: url("fontes/Sriracha-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PassionOne";
    src: url("fontes/PassionOne-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
header{
    background-color: black;
    padding: 62px;
    text-align: justify;
}
header > h1{
    color: white;
    text-align: center;
    font-family: 'PassionOne', Courier, monospace;
    font-size: 93px;
    font-weight: bold;
}
header > p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
p > a{
    color: white;
    text-decoration: none;
}
p > a:hover{
    text-decoration: underline;
}
body{
    background-color: black;
}
main{
    background-color: white;
    padding: 0px 0px 700px 0px;
}
main > p{
    font-size: 40px;
    padding: 60px;
    font-family: "sriracha", Helvetica, sans-serif;
}